<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baidu.fbu.apsmis.dao.mapper.BlazeDetailsMapper">
	<resultMap
		type="com.baidu.fbu.apsmis.model.vo.BlazeDetailDecisionFlowHistory"
		id="BlazeDetailDecisionFlowHistory">
		<id column="application_id" property="applicationId" />
		<result column="name" property="name" />
		<result column="start_timestamp" property="startTimestamp" />
		<result column="stop_timestamp" property="stopTimestamp" />
		<result column="elapsed_millis" property="elapsedMillis" />
		<collection property="blazeDetailDecisionFlowStepHistory"
			ofType="com.baidu.fbu.apsmis.model.vo.BlazeDetailDecisionFlowStepHistory">
			<result column="step_index" property="stepIndex" />
			<result column="implementation_type" property="implementationType" />
			<result column="implementation_name" property="implementationName" />
			<result column="function_result" property="functionResult" />
		</collection>
	</resultMap>
	<resultMap type="com.baidu.fbu.apsmis.model.vo.BlazeDetailRuleSetHistory"
		id="BlazeDetailRuleSetHistory">
		<id column="application_id" property="applicationId" />
		<result column="ruleset_name" property="rulesetName" />
		<collection property="blazeRuleHistory"
			ofType="com.baidu.fbu.apsmis.model.po.BlazeRuleHistory">
			<result column="rule_name" property="ruleName" />
			<result column="rule_code" property="ruleCode" />
			<result column="rule_description" property="ruleDescription" />
		</collection>
	</resultMap>
	<resultMap type="com.baidu.fbu.apsmis.model.vo.BlazeDetailScoreModelReInfo"
		id="ScoreModelReInfo">
		<id column="bsmri_id" property="id" />
		<result column="association_id" property="associationId" />
		<result column="score_model_name" property="scoreModelName" />
		<result column="final_score" property="finalScore" />
		<result column="raw_score" property="rawScore" />
		<result column="initial_score" property="initScore" />
		<result column="score_date_time" property="scoreDatetime" />
		<result column="unexpected_count" property="unexpCount" />
		<result column="characteristic_count" property="characCount" />
		<result column="score_model_id" property="scoreModelId" />
		<collection property="blazeDetailScoreCharac"
			ofType="com.baidu.fbu.apsmis.model.vo.BlazeDetailScoreCharac">
			<id column="bsc_id" property="id" />
			<result column="characteristic_name" property="characName" />
			<result column="characteristic_code" property="characCode" />
			<result column="characteristic_value" property="characValue" />
			<result column="bin_label" property="binLabel" />
			<result column="baseline_score" property="baseLineScore" />
			<result column="partial_score" property="partialScore" />
			<result column="max_bin_score" property="maxBinScore" />
			<result column="unexpected_value_flag" property="unexpcValueFlag" />
		</collection>
	</resultMap>
	<resultMap type="com.baidu.fbu.apsmis.model.vo.BlazeDetailMessageList"
		id="MessageList">
		<id column="bml_id" property="id" />
		<result column="status_code" property="listStatusCode" />
		<result column="status_description" property="listStatusDescription" />
		<collection property="blazeDetailMessage"
			ofType="com.baidu.fbu.apsmis.model.vo.BlazeDetailMessage">
			<result column="message_number" property="msgNumber" />
			<result column="severity_code" property="severityCode" />
			<result column="description" property="description" />
			<result column="detailed_description" property="detailedDescription" />
			<result column="resolution" property="resolution" />
		</collection>
	</resultMap>
	<select id="selectDecisonFlowHistory" parameterType="java.lang.String"
		resultMap="BlazeDetailDecisionFlowHistory">
		select
		bdfh.name,bdfh.start_timestamp,bdfh.stop_timestamp,bdfh.elapsed_millis,
		bdfsh.step_index,bdfsh.implementation_type,bdfsh.implementation_name,bdfsh.function_result
		from blaze_decision_flow_history bdfh,blaze_decision_flow_step_history
		bdfsh
		where bdfsh.decision_flow_history_id = bdfh.id and
		bdfh.application_id=#{applicationid} order by step_index
	</select>
	<select id="selectRuleSetHistory" parameterType="java.lang.String"
		resultMap="BlazeDetailRuleSetHistory">
		select
		brsh.ruleset_name,brh.rule_name,brh.rule_code,brh.rule_description
		from blaze_ruleset_history brsh,blaze_rule_history brh
		where
		brsh.id=brh.ruleset_history_id and
		brsh.application_id=#{applicationid}
	</select>
	<select id="selectScoreModelReInfo" parameterType="java.lang.String"
		resultMap="ScoreModelReInfo">
		select bsmri.id as
		bsmri_id,association_id,score_model_name,final_score,raw_score,initial_score,score_date_time,unexpected_count,characteristic_count
		score_model_id,bsc.id as
		bsc_id,characteristic_name,characteristic_code,characteristic_value,bin_label,baseline_score,partial_score,max_bin_score,unexpected_value_flag
		from blaze_score_model_return_info bsmri, blaze_scored_characteristic
		bsc where bsmri.application_id=#{applicationid} and
		bsmri.id =
		bsc.score_model_return_info_id
	</select>
	<select id="selectMessages" parameterType="java.lang.String"
		resultMap="MessageList">
		select bml.id as
		bml_id,status_code,status_description,
		message_number,severity_code,description,detailed_description,resolution
		from blaze_message_list bml, blaze_message bm
		where
		bml.id=bm.message_list_id and
		bml.application_id=#{applicationid}
	</select>
</mapper>