<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust.dao.mapper.InitialMapper">
	<resultMap type="com.hust.model.InfoType" id="InfoTypeResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="weight" column="weight" />
	</resultMap>
	<resultMap type="com.hust.model.LMedia" id="LMediaResultMap">
		<id property="id" column="lid"/>
		<result property="name" column="lname"/>
		<result property="weight" column="weight"/>
		<collection property="medialist" ofType="com.hust.model.IMedia">
			<id property="id" column="mid"/>
			<result property="name" column="mname"/>
			<result property="level" column="level"/>
		</collection>
	</resultMap>
	<sql id="Info_Type_Base_Column_List">
		id,name,weight
	</sql>
	<sql id="Media_Base_Column_List">
		level.id as lid,level.name as lname,weight,media.id as
		mid,media.name as mname,level
	</sql>
	<select id="selectInfoType" resultMap="InfoTypeResultMap">
		select
		<include refid="Info_Type_Base_Column_List" />
		from info_type
	</select>
	<select id="selectMedia" resultMap="LMediaResultMap">
		select
		<include refid="Media_Base_Column_List" />
		from level left join media on level.name=media.level
	</select>
</mapper>