body{
	width: 80%;
	margin: 2px auto;
	font-family: "微软雅黑";
}
/* head bar info */
.head-bar {
	padding: 8px 2px 2px 0;
	border-bottom: 1px solid #357ebd;
	background-color: #357ebd;
	color: white;
	margin-right: 16px;
	margin-bottom: 4px;
	overflow: hidden;
	clear: both;
}

.head-bar__info__title {
	text-align: center;
}

.head-bar__info {
	float: right;
}

/* hello message */
.head-bar__info__hello,
.head-bar__info__time,
.head-bar__info__exit-btn {
	color: white;
	display: inline-block;
}
.head-bar__info__exit-btn:hover {
	cursor: pointer;
}

.content-wrapper {
	position: relative;
	display: block;
}

/* left side nav */
.content-wrapper__nav {
	padding: 0;
	background-color: #d9edf7;
}
.content-wrapper__nav__ul {
	padding: 0;
	list-style: none;
}
.content-wrapper__nav__ul label {
	display: block;
	padding: 2px 10px;
}

/*.content-wrapper__nav__ul__element {
	padding: 5px 10px;
}*/

.content-wrapper__nav__ul__element-child {
	list-style:  none; 
}
.content-wrapper__nav__ul__element__link,
.content-wrapper__nav__ul__element-child__el__link {
	display: block;
	text-decoration: none;
	padding: 5px 10px;
	color: black;
}
.content-wrapper__nav__ul__element__link:hover,
.content-wrapper__nav__ul__element-child__el__link:hover,
.content-wrapper__nav__ul__element__link:focus,
.content-wrapper__nav__ul__element-child__el__link:focus {
	text-decoration: none;
	background-color: #428bca;
	color: white;
}

.active {
	background-color: #428bca;
	color: white;
}


/* search input part */
.content-wrapper__content__info {
	padding: 0;
}

.content-wrapper__content__search {
	padding: 0;
}

.content-wrapper__content__search__label {
	padding: 8px 0;
}
.content-wrapper__content__search__label__input {
	margin-right: 5px;
}


.content-wrapper__content__search__label {
	width: 100px;
	min-width: 100px;
}

#searchSubmit {
	float: right;
	width: 100px;
	text-align: center;
}

.content-wrapper__pagination {
	position: absolute;
	right: 12px;
	bottom: -31px;
	font-size: 12px;
}

#pagination {
	margin-bottom: 0;
}

.waiting-mask {
	position: absolute;
	top: 0;
	left: 0;
	height: 107%;
	width: 99%;
	background: url('lib/images/loading.gif') no-repeat center center;
	opacity: 0.4;
	z-index: 100;
	display: none;
}