@charset "utf-8";
/* CSS Document */
table {
	table-layout: fixed;
}

td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.paint {
	width: 800px;
	height: 500;
	vertical-align: middle;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}