@CHARSET "UTF-8";
* { margin:0; padding:0; list-style:none;
}
html, body { 
    font:normal 13px "Microsoft YaHei";
    font-family: "Microsoft YaHei","微软雅黑","sans-serif" ;
    /* _font:normal 13px "sans-serif"; */
}
.fl { float: left;}
.fr { float: right;}
.clear { clear: both;}
.oh { overflow: hidden;}
a { text-decoration: none;}
img { border:none;}
input,img { border-style: none;vertical-align: middle;}
select { *vertical-align: top;}
.span2 { width:19.97%;}
.span3 { width:29.97%;}
.span4 { width:39.97%;}
.span5 { width:49.97%;}
.span6 { width:59.97%;}
.span7 { width:69.97%;}
.span8 { width:79.97%;}
.span9 { width:89.97%;}
.span10 { width:100%;}
.mt5 { margin-top: 5px;}
.mt10 { margin-top: 10px;}
.mt15 { margin-top: 15px;}
.mt25 { margin-top: 25px;}
.mb5 { margin-bottom: 5px;}
.mb10 { margin-bottom: 10px;}
.mb15 { margin-bottom: 15px;}
.mb25 { margin-bottom: 25px;}
.pt5 { padding-top: 5px;}
.pt10 { padding-top: 10px;}
.pt15 { padding-top: 15px}
.pt20 { padding-top: 20px}
.pb5 { padding-bottom: 5px;}
.pb10 { padding-bottom: 10px;}
.pb15 { padding-bottom: 15px}
.pl20 { padding-bottom: 20px}
.pl5 { padding-left: 5px;}
.pl10 { padding-left: 10px;}
.pl15 { padding-left: 15px}
.pl20 { padding-left: 20px}
.pr5 { padding-right: 5px;}
.pr10 { padding-right: 10px;}
.pr15 { padding-right: 15px}
.pr20 { padding-right: 20px}
.lh20 { line-height: 20px;}
.lh22 { line-height: 22px;}
.lh25 { line-height: 25px;}
.lh28 { line-height: 28px;}
.lh30 { line-height: 30px;}
.wh60 { width: 60px;}
.wh80 { width: 80px;}
.wh100 { width: 100px;}
/*配色表*/
.color307fb1 { color: #307fb1;}
/* input和select*/
.input-text { 
    border: 1px solid #bac7d2;
    background: #f7fcfe;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #e7f1f7 inset;
    height: 28px;
    margin-left: 3px;
}
.lh25 { 
    line-height: 25px;
}
.select { 
    width: 130px;
    border: 1px solid #bac7d2;
    padding: 4px 3px;
    font-size: 12px;
    height: 30px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #e7f1f7 inset;
    text-align: center;
}
.main { 
    position:absolute; left:206px; top:81px; bottom:25px; right:0px;
    width:auto;
    background-color:#fff;
    z-index:2;
    overflow:hidden;
}
#side_here { 
    height: 44px;
    background: #fff url('../images/here.gif') 0px 0px repeat-x;
}
#here_area { 
    height: 44px;
    line-height: 44px;
    padding-left: 20px;
}